<!-- views/calculator_result.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Calculator Result</title>
	</head>
	<body>
		<h1><%= @operation %> Result</h1>

		<p>The <%= @operation %> of <%= @first_number %> and <%= @second_number %> is <%= @result %></p>
	</body>
</html>