<div>
  <h1>Today's Concerts</h1>
  <table>
    <tr>
      <th>Artist</th>
      <th>Venue</th>
      <th>City</th>
      <th>When</th>
      <th>Price</th>
    </tr>
    <% @todays_concerts.each do |concert| %>
      <tr>
        <td><%= link_to concert.artist, concert_path(concert) %></td>
        <td><%= concert.venue %></td>
        <td><%= concert.city %></td>
        <td><%= concert.datetime %></td>   
        <td><%= concert.price %></td>   
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h1>Upcoming Concerts</h1>
  <% if max_price != undefined %>
    <h2>Max. Price: <%= max_price %></h2>
  <% end %>
  <table>
    <tr>
      <th>Artist</th>
      <th>Venue</th>
      <th>City</th>
      <th>When</th>
      <th>Price</th>
    </tr>
    <% @upcoming_concerts.each do |concert| %>
      <tr>
        <td><%= link_to concert.artist, concert_path(concert) %></td>
        <td><%= concert.venue %></td>
        <td><%= concert.city %></td>
        <td><%= concert.datetime %></td>   
        <td><%= concert.price %></td>   
      </tr>
    <% end %>
  </table>
</div>