<h1>Concert Display Page</h1>

<p>
  <h2><%= @concert.artist %></h2>
</p>
<p>
  <%= @concert.venue %> in <%= @concert.city %> on <%= @concert.datetime %>
  Price of show: <%= concert.price %>
</p>
<p>
  <%= @concert.description %>
</p>