<! - views/post_details.erb ->

<link rel="stylesheet" href="/styles.css">

<h1>Post Details for <%= @post.title%></h1>
<h3>Category: <%= @post.category%> -- Author: <%=@post.author%>
<p>Posted: <%= @post.time%></p>

<p><%= @post.text%></p>
